body {
  font-family: sans-serif;
}

button {
  position: relative;
  z-index: 50000;
}

.slidein {
  animation-duration: 1.5s;
  animation-name: slidein;
  // animation-iteration-count: infinite;
}

.toast-move-up-in {
  animation-duration: 0.3s;
  animation-name: antMoveUpIn;
  // animation-iteration-count: infinite;
}
.toast-move-up-out {
  animation-duration: 0.3s;
  animation-name: antMoveUpOut
}

.toast--top {
  z-index: 1010;
  position: fixed;
  top: 5%;
  width: 100%;
}

.toast--bottom {
  z-index: 1010;
  position: fixed;
  width: 100%;
  bottom: 5%; 
}
.toast {
  width: 100%;
  text-align: center;
  .toast--container {
      text-align: center;
      display: inline-block;
      // margin: 0 30%;
      background-color: gray;
      border-radius: 3px;
      .text {
        display: inline-block;
        color: white;
        padding: 10px 8px;
      }
      i {
        color: white;
        margin-right: 8px;
        cursor: pointer;
      }
    }
}

@keyframes slidein {
  from {
    margin-top: -10%;
    /* width: 300%; */
  }

  to {
    margin-top: 0%;
    /* width: 100%; */
  }
}


@keyframes antMoveUpOut {
  0% {
    transform: translateY(0%);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
}

@keyframes antMoveUpIn {
  0% {
    transform: translateY(-100%);
    transform-origin: 0 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    transform-origin: 0 0;
    opacity: 1;
  }
}